<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!--icone triangulo-->
      <!--<ion-icon name="triangle"></ion-icon>-->
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!--icone cirgulo-->
      <!--<ion-icon name="ellipse"></ion-icon>-->
      <ion-icon name="body"></ion-icon>
      <ion-label>IMC</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <!--icone quadrado-->
      <!--<ion-icon name="square"></ion-icon>-->
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Nutrição</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
